extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.mx-auto.txt_center
                .title.mb-5.txt_upper
                    h1 Objetos Prácticos:
                    br
                    small
                        strong Ejemplo De Vehiculo
                .acction
                    .divPreloader(style="position: absolute; opacity: 0.4;")
                        img.img_responsive(src="images/loading.gif")
                    .divVistaPrevia
                        img#cmbCarro.img_responsive
                    .form-group
                        .col-sm-5.mx-auto
                            select#cmbColor.form-control







        // Content-area/