extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.txt_center
                .title.mb-5.txt_upper
                    h1 Eventos
                    hr
                button.btn.btn_site
                    | Envento Click
                .acction.mg_top--x20
                    a.btn.btn_site.btn-js(href="http:wwww.dialstudios.com.co") Dialsds
            .col.txt_center
                .figure.mg_top--x20
                    img.img-js(src="https://picsum.photos/300/300/?image=115")



        // Content-area/