extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.mx-auto.txt_center
                .title.mb-5.txt_upper
                    h1 Animaciones:
                    br
                    small
                        strong jQuery
                .acction
                    button.btn.btn_site(data-dir="top") Arriba
                    button.btn.btn_site(data-dir="down") Abajo
                    button.btn.btn_site(data-dir="izq") Izquierda
                    button.btn.btn_site(data-dir="der") Derecha
                    button.btn.btn_site(data-dir="reset") Reset
                .acction
                    .cajaRoja




        // Content-area/