extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.mx-auto.txt_center
                .title.mb-5.txt_upper
                    h1 Slideshow 001
                    br
    section.slideShow.pb-5
        ul

            li
                img(src="images/slider001.jpg")

            li
                img(src="images/slider001.jpg")

            li
                img(src="images/slider001.jpg")

            li
                img(src="images/slider001.jpg")




        // Content-area/