extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.txt_center
                .title.mb-5.txt_upper
                    h1.cover-heading Lista ordenada
                .paragraf.mb-5
                    ul.js-color
                        li item 1
                        li item 2
                        li item 3
                        li item 4
                .paragraf.mb-5
                    ul.js-bold
                        li item 1
                        li item 2
                        li item 3
                        li item 4


        // Content-area/