extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.mx-auto.txt_center
                .title.mb-5.txt_upper
                    h1 Objetos 101:
                    br
                    small
                        strong Comprendiendo lo basicó
                .acction
                    button.btn.btn_site.js_encender Encender
                    button.btn.btn_site.js_apagar Apagar






        // Content-area/