extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row
            .col.mx-auto.txt_center
                .title.mt-5.txt_upper
                    h1 Tienda de Ropa
                        small
                            strong   Checho´s
                hr.hr.hr_site
        .row.align-items-top.py-5
            .col-2
                .panel
                    .panel-body#cmbColor
            .col-5
                .panel
                    .panel-body
                        img#imgChange(src="images/camiseta/large/blanca.jpg")
            .col-4
                .panel
                    .panel-body
                        h2 Camiseta Especial
                            b.txt_upper.ml-2#lblColor Blanca
                        .paragraf.mg_bottom--x20
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque fugit ipsam iure, nam natus nesciunt sit? Aut consequatur cumque doloribus earum in maiores mollitia neque obcaecati quisquam, quod sit voluptatibus!

                        .paragraf.mg_bottom--x20
                            h4 Rating
                            img.imgRating(src="images/star1.png")
                            img.imgRating(src="images/star1.png")
                            img.imgRating(src="images/star1.png")
                            img.imgRating(src="images/star2.png")
                        .paragraf.mg_bottom--x20
                            h3 Precio:
                                small   $10




        // Content-area/