extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.mx-auto.txt_center
                .title.mb-5.txt_upper
                    h1 Activida 001 Calculadora
                    hr.hr_site
                input.js-cmbBase.form-control.mb-5(type="text")
                button.btn.btn_site.btn--full.mb-5
                    | Agregar Linea
                table.table.table-striped.txt_center
                    tr
                        th Base
                        th X
                        th Numero
                        th
                            | =
                        th Resultado




        // Content-area/