extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.txt_center
                .title.mb-5.txt_upper
                    h1 lección 04: Acordeon
                    hr
        .row
            .col.txt_center
                dl

                    dt.va_m
                        | Titulo Acorrdeon
                        i.material-icons.va_m.mg_left--x35
                    dd detalle
                    dt.va_m
                        | Titulo Acorrdeon
                        i.material-icons.va_m.mg_left--x35
                    dd detalle
                    dt.va_m
                        | Titulo Acorrdeon
                        i.material-icons.va_m.mg_left--x35
                    dd detalle
                    dt.va_m
                        | Titulo Acorrdeon
                        i.material-icons.va_m.mg_left--x35
                    dd detalle
                    dt.va_m
                        | Titulo Acorrdeon
                        i.material-icons.va_m.mg_left--x35
                    dd detalle




        // Content-area/