extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.mx-auto.txt_center
                .title.mb-5.txt_upper
                    h1 Slideshow 001
                    br
    section.slideShow.mb-5
        ul
            li
                img(src="images/item.jpg")
            li
                img(src="images/itemA.jpg")
            li
                img(src="images/itemB.jpg")
            li
                img(src="images/itemC.jpg")
    section.container.cover-container.hidden
        button.btn.btn_site.js-btn(data-mov="ant") Anterior
        button.btn.btn_site.js-btn(data-mov="sig") Siguente
        // Content-area/
    section.container.cover-container
       .slideShowButtons
           .slideButton(data-idx="0")
           .slideButton(data-idx="1")
           .slideButton(data-idx="2")
           .slideButton(data-idx="3")