extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.txt_center
                .title.mb-5.txt_upper
                    h1 Selectores y encadenamiento
        .row.align-items-center
            .col.txt_center
                img.rounded-circle.img-fluid
                .title.mt-2.txt_upper
                    h1 GOTAS
            .col.col-js
                .paragraf.mb-5
                    p.lead
                        | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
                .acction
                    p.lead
                        a.btn.btn-lg.btn-secondary(href='#') Learn more
            .col
                ul
                    li Item
                    li Item
                    li Item
                    li Item

        // Content-area/