extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.mx-auto.txt_center
                .title.mb-5.txt_upper
                    h1 Tema Extra:
                    br
                    small
                        strong Data Attribute
                .acction
                    img(src="images/icon_facebook.png", alt="png", data-color="azul")
                    br
                    br
                    img(src="images/icon_twitter.png", alt="png", data-color="white")




        // Content-area/