extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.mx-auto.txt_center
                .title.mb-5.txt_upper
                    h1 Objetos 202:
                    br
                    small
                        strong Objetos en JQ
                .acction







        // Content-area/