
=clearfix()
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

.cover-container
  max-width: 42em
  .row
    min-height: 15vh
    &:last-child
      margin-bottom: 120px